body{
    margin: 0;
}
label {
    margin-bottom: 0px;
}
.error{
	color: #f44336;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.846;
    vertical-align: top;
    border-top: 0px solid #fff;
}
.navbar {
    position: relative;
    min-height: 64px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-brand {
    float: left;
    padding: 0px 15px;
    font-size: 17px;
    line-height: 23px;
    height: 64px;
}
/*.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}*/
.text-depth-1{
    -webkit-text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.card-panel, .card {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.hide {
  display: none !important;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.header{
    background-color: #c62828;
    background-size: 100% 100%;
    height: 9.5pc;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.title{
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}
#contenedor{
    margin-top: -10.72pc;
}
.primary{
     background-color: #009688;
     color: #fff;
}
.primary:hover{
     background-color: #26a69a;
     color: #fff;
}
.hoverable{
     -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.my-form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.my-form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.my-form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.my-form-control:-ms-input-placeholder {
  color: #999;
}
.my-form-control::-webkit-input-placeholder {
  color: #999;
}
.my-form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.my-form-control[disabled],
.my-form-control[readonly],
fieldset[disabled] .my-form-control {
  background-color: #eee;
  opacity: 1;
}
.my-form-control[disabled],
fieldset[disabled] .my-form-control {
  cursor: not-allowed;
}
textarea.my-form-control {
  height: auto;
}
.form-group label.control-label {
     font-size: 12px;
    line-height: 1.07142857;
    margin: 16px 0 0 0;
    color: #000;
     font-weight: 500;
}

.btn .btn-danger:hover {
    background-color: rgba(244, 67, 44, 0.8);
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

.card .card-title {
  font-size: 24px;
  font-weight: 300;
}

.card .card-title.activator {
  cursor: pointer;
}
.card .card-image {
  position: relative;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
  transition: box-shadow .3s ease;
}

.card .card-image img:hover {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
}

.card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.40);
}

.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}

.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
}

.card .card-content .card-title i {
  line-height: 32px;
}
.toggle-vis{
    cursor: pointer;
}
.my-card{
   transition: all .3s ease;
}

.my-card:hover{
   -webkit-transform: scale(1.03);
  transform: scale(1.03);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.svg{
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   width: 100%;
   background-color: #e0e0e0;
}

.btn i {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fixed-action-btn {
  position: fixed;
  /*right: 5.6%;*/
  right: 23px;
  bottom: 23px;
  top: auto;
  z-index: 998;
  transition: all .4s ease;
}

.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
}

.btn-floating:hover {

}

.btn-floating:before {
  border-radius: 0;
}

.btn-floating.btn-large {
  width: 56px;
  height: 56px;
}

.btn-floating.btn-large.halfway-fab {
  bottom: -28px;
}

.btn-floating.btn-large i {
  line-height: 56px;
}

.btn-floating.halfway-fab {
  position: absolute;
  right: 24px;
  bottom: -20px;
}

.btn-floating.halfway-fab.left {
  right: auto;
  left: 24px;
}

.btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 40px;
}

button.btn-floating {
  border: none;
}

@media only screen and (max-width: 1000px) {
    .fixed-action-btn {
        position: fixed;
        right: 23px;
        bottom: 23px;
        top: auto;
    }
}

@media only screen and (max-width: 600px) {
    .fixed-action-btn {
        position: fixed;
        right: 23px;
        bottom: 23px;
        top: auto;
    }
}
